/* Import DM SANS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* font-family: "DM Sans", sans-serif;*/

/* Import Sigmar */
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

/*font-family: "Sigmar", sans-serif;*/

/* Import Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    color: white;
}

body{
    width: 512px;
    background-color: #191d7b;
}

.header-image{
    width: 100%;
    /* height: 270px; */
}

.hero {
    text-align: center;
    margin: 5rem 3rem;
}



h1,h2{
    font-family: "Sigmar", sans-serif;
    text-transform: uppercase;
    line-height: 2rem;
    font-size: 2rem;
    margin-bottom: 15px;
}

p{
    margin-bottom: 15px;
}


.download-btn{
    color: black;
    padding: 15px 80px;
    font-size: 1.2rem;
    border-radius: 15px;
    border: none;
    background-color: white;
    width: 400px;
}

.bi-cloud-download{
    color: black;
    padding-right: 10px;
}


.brawser-btn{
    color: rgb(255, 255, 255);
    padding: 15px 50px;
    font-size: 1.2rem;
    border-radius: 15px;
    border: none;
    background-color: #5865f2;
    margin-top: 1rem;
    width: 400px;
}


.info-card{
    /* background-color: rgb(97, 99, 228); */
    background-image: url(./assets/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 60px 30px;
    padding: 60px 30px;
    border-radius: 30px;
    position: relative;
}

.info-card img{
    width: 100%;
    border-radius: 30px;

}

.info-card video{
    width: 100%;
    height: 300px;
    border-radius: 30px;
    border: none;
}

.info-card .icon{
    width: 100px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}
