/* Import DM SANS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* font-family: "DM Sans", sans-serif;*/



/* Import Sigmar */
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

/*font-family: "Sigmar", sans-serif;*/


*{
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    color: white;
}

body{
    width: 512px;
    background-color: rgb(17, 17, 153);
}

.header-image{
    width: 100%;
    height: 270px;
    background-color: aqua;
    background-image: url(/assets/img/banner.png);
    background-size: cover;
}

.cta {
    text-align: center;
    margin: 5rem 3rem;
}

h1,h2{
    font-family: "Sigmar", sans-serif;
    text-transform: uppercase;
    line-height: 2rem;
    font-size: 2rem;
    margin-bottom: 15px;
}

p{
    margin-bottom: 15px;
}


.download-btn{
    color: black;
    padding: 15px 80px;
    font-size: 1.2rem;
    border-radius: 15px;
    border: none;
    background-color: white;
}

.brawser-btn{
    color: rgb(255, 255, 255);
    padding: 15px 50px;
    font-size: 1.2rem;
    border-radius: 15px;
    border: none;
    background-color: rgb(97, 99, 228);
    margin: 1rem;
}


.info{
    background-color: rgb(97, 99, 228);
    margin: 60px 30px;
    padding: 60px 30px;
    border-radius: 30px;
    position: relative;
}

.info img{
    width: 100%;
    border-radius: 30px;

}

.info .icon{
    width: 100px;
    position: absolute;
    top: -50px;
    left: 50px;
}
